
body{
  background-image: url('back_login.jpg');
}

#login{
  opacity: 0.6;
  filter: alpha(opacity=60);
  border: solid 13px;
  margin-top: 180px;
  height: 250px;
  background-color: #ffffff;
  text-align: center;
}

#aceptar{
  width: 120px;
  height: 25px;
}

h3{
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

#img_link{
  width: 40px;
  height: 35px;
}
